@model IEnumerable<PrestamoLibros.Models.RankingLibrosPorCarreraViewModel>
<div class="page-header">
    <h1>Ranking de Libros por Carrera</h1>
</div>

<table class="table table-striped table-condensed">
    <thead>
        <tr>
            <th>#</th>
            <th>Carrera</th>
            <th>Cantidad de Libros<th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Carrera</td>
                <td>@item.CantidadLibros</td>
            </tr>          
        } 
    </tbody>
</table>