<div class="navbar-inner">
    <div class="container-fluid">   
        <a class="brand" href="@Url.RouteUrl("raiz")">Gestión Prestamo de Libros</a>
        <div class="nav-collapse">
            <ul class="nav">
                <li><a href="@Url.RouteUrl("libros")">Libros</a></li>
                <li><a href="@Url.RouteUrl("alumnos")">Alumnos</a></li>
                <li><a href="@Url.RouteUrl("sanciones")">Sanciones</a></li>
            </ul>
        </div>
    </div>
</div>