@using MvcFlash.Core.Extensions

<div class="page-header">
    <h1>Registrar Alumno</h1>
</div>
@Html.Flash()
<form class="producto form-horizontal" method="post" action="@Url.RouteUrl("crear_alumno")">
    <fieldset>
        <div class="control-group">
            <label class="control-label">Nombres:</label>
            <div class="controls">
                <input class="input-xlarge" type="text" value="" name="Nombres" required title="15 a 30 caracteres" pattern=".{15,30}">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Rut:</label>
            <div class="controls">
                <input class="input-xlarge" type="text" value="" name="Rut" required title="ejemplo: 11111111-1" pattern="^0*(\d{1,3}(\.?\d{3})*)\-?([\dkK])$">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Número Matrícula:</label>
            <div class="controls">
                <input class="input-xlarge" type="number" value="" name="NumeroMatricula" required title="6 caracteres exactos" max ="999999" min="100000">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Carrera:</label>
            <div class="controls">
                <select class="input-xlarge" name="CarreraId">
                    @foreach (var item in ViewBag.carreras)
                    {
                        <option value="@item.Id">@item.Nombre</option>   
                    }
                </select>
            </div>
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Registrar</button>
            <button type="reset" class="btn">Limpiar</button>
        </div>
    </fieldset>
</form>